[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:EthanRosenthal/pelican-plugins.git
[submodule "blue-penguin"]
	path = blue-penguin
	url = git@github.com:EthanRosenthal/blue-penguin.git
